@model IEnumerable<Challenge.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
    ViewData["Titulo"] = "Vehículos";
}


<p>
    <a class="btn btn-primary" asp-action="Create">Agregar Vehículo</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puertas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titular)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puertas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titular)
            </td>
            
        </tr>
}
    </tbody>
</table>
